.CM-avatar {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;

  div {
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    bottom: 1%;
    right: 1%;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
  }
}