@import '../../../vars.scss';

.PG-name-update {
  background-color: #fff;
  position: relative;

  .bd {
    padding: 60px 40px;
  }

  .ft {
    padding: 10px;
    text-align: right;
    border-top: 1px solid $border-color;

    div {
      display: inline-block;
      font-size: 12px;
      line-height: 16px;
      padding: 6px 15px;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;

      &:first-child {
        background-color: $gray-color;
        margin-right: 10px;
      }
      &:last-child {
        background-color: $theme-blue;
      }
    }
  }
}