{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "import",
    "redux-saga",
    "react",
    "jsx-a11y"
  ],
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "location": true,
    "EvtDispatcher": true,
    "changyanjQuery": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "linebreak-style": [0 ,"error", "windows"],
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "array-callback-return": 0,
    "class-methods-use-this": 0,
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "consistent-return": 0,
    "func-names": 0,
    "guard-for-in": 0,
    "global-require": 0,
    "import/imports-first": 0,
    "import/newline-after-import": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/no-unresolved": 2,
    "import/no-webpack-loader-syntax": 0,
    "import/prefer-default-export": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/aria-props": 2,
    "jsx-a11y/heading-has-content": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": [
          "Input"
        ]
      }
    ],
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/mouse-events-have-key-events": 2,
    "jsx-a11y/role-has-required-aria-props": 2,
    "jsx-a11y/role-supports-aria-props": 2,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "max-len": 0,
    "newline-per-chained-call": 0,
    "no-confusing-arrow": 0,
    "no-console": 1,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-unused-vars": 2,
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0,
    "no-unused-expressions": 0,
    "no-restricted-syntax": 0,
    "no-script-url": 0,
    "no-useless-escape": 0,
    "no-prototype-builtins": 0,
    "no-extend-native": 0,
    "prefer-destructuring": 0,
    "prefer-template": 2,
    "react/destructuring-assignment": 0,
    "react/jsx-closing-tag-location": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-first-prop-new-line": [
      2,
      "multiline"
    ],
    "react/jsx-filename-extension": 0,
    "react/jsx-no-target-blank": 0,
    "react/jsx-uses-vars": 2,
    "react/require-default-props": 0,
    "react/require-extension": 0,
    "react/self-closing-comp": 0,
    "react/sort-comp": 0,
    "react/no-find-dom-node": 0,
    "react/no-array-index-key": 0,
    "react/no-string-refs": 0,
    "react/no-unused-prop-types": 0,
    "react/no-multi-comp": 0,
    "react/no-unescaped-entities": 0,
    "react/no-access-state-in-setstate": 0,
    "redux-saga/no-yield-in-race": 2,
    "redux-saga/yield-effects": 2,
    "require-yield": 0,
    "semi": ["warn", "never"]
  }
}
