.CM-market-tagname {
  display: inline-flex;
  align-items: center;

  div {
    float: left;
    margin-right: 2px;
    display: inline-block;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
  }
}