@import '../../vars.scss';

.CM-search {
  position: relative;
  color: #bbb;
  font-size: 14px;
  .icon {
    // color: #DAE9F1;
    // font-size: 20px;
    position: absolute;
    width: 18px;
    height: 18px;
    right: 6px;
    top: 50%;
    margin-top: -9px;
  }

  input {
    color: #DAE9F1;
    height: 32px;
    width: 220px;
    font-size: 14px;
    background: rgba(0,141,194,0.40);
    border-radius: 25px;
    padding: 0 24px 0 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
  }

  .main {
    position: relative;
    width: 100%;
    z-index: 3;
    .detail {
      background: #fff;
      box-shadow: 0 2px 4px 0 rgba(190, 190, 190, 0.4);
      padding: 10px 15px 15px;
      position: absolute;
      left: 0;
      top: 0;
      min-width: 100%;
      z-index: 1;

      .item {
        padding: 6px 0;
        display: block;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #888;
        font-size: 14px;

        &:hover {
          color: $theme-blue;
        }
      }
    }
  }

  .title {
    padding: 12px 0 8px;
    margin-top: 10px;
  }

  .split {
    background: #e5e5e5;
    height: 1px;
    margin: 10px 0;
  }

  a.other {
    display: block;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    span {
      padding: 0 5px;
      color: $theme-blue;
    }
  }
}